@charset "UTF-8";

//fonts config
@font-face {
  font-family: 'mont_thin';
  src:url('../fonts/Montserrat-Thin.woff2') format('woff2'),
    url('../fonts/Montserrat-Thin.woff') format('woff'),
    url('../fonts/Montserrat-Thin.ttf') format('ttf');
}
@font-face {
  font-family: 'mont_light';
  src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
    url('../fonts/Montserrat-Light.woff') format('woff'),
    url('../fonts/Montserrat-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'mont_regular';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'mont_bold';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat-Bold.ttf') format('ttf');
}

//default reset
* {
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
    line-height: 1;
    /*background: transparent;*/
}
html{
    overflow-y: scroll;
}
h1, h2, h3, h4, h5, h6{
    font-size: 100%;
    font-weight: normal;
}
ol, ul{
    list-style: none;
}
fieldset, button{
    border: 0;
}
a {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
}
img {
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-size: 0;
    line-height: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th {
    text-align: left;
}
input, select {
    vertical-align: middle;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}



//color config
$blue: #2A95E4;
$gray: #eee;
$white: #fff;

//content
body,body *{
  font-family: "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 13px;
  line-height: 200%;
  text-align: center;
}
a{
  text-decoration: none;
  transition: all ease 0.3s;
  &:hover,
  &:after{
    text-decoration: none;
    transition: all ease 0.3s;
  }
}
article{
  padding: 100px 0 150px;
}
p{
  width: 500px;
  margin: 0 auto;
  text-align: left;
}
h2{
  font-family: 'mont_regular';
  font-size: 50px;
  margin: 50px 0;
  letter-spacing: .2em;
  &:after{
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    margin: 10px auto;
    background: #000;
  }
}
h3{
  margin: 40px 0 25px;
  font-size: 20px;
  font-weight: bold;
}

nav{
  position: fixed;
  right: 20px;
  top: 0;
  text-align: right;
  li.menu{
    a{
      display: block;
      margin-bottom: 5px;
      font-family: 'mont_regular';
      font-size: 18px;
      color: $blue;
      &:after{
        content: "";
        display: block;
        width:0px;
        height: 2px;
        margin: -3px auto 0;
        background: $blue;
      }
      &:hover:after{
        width: 50px;
      }
    }
  }
  li.logo{
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 0 20px auto;
    border-bottom-left-radius: 50%;
    background: $blue;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    img{
      width: 40px;
      height: auto;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      margin: auto;
    }
  }
}

#home{
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url(../images/main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  section{
    width: 110px;
    height: 170px;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    text-align: center;
    img{
      width: 100px;
      height: auto;
    }
    a{
      display: block;
      margin-top: 50px;
      color: $white;
      font-family: 'mont_regular';
      font-size:20px;
    }
    a:after{
      content: "";
      display: block;
      width: 0px;
      height: 2px;
      margin: 0 auto 0;
      background: $white;
    }
    a:hover:after{
      width: 80px;
    }
  }
}
#business{
  background: $gray;
}


//mobile style
@media screen and (max-width:500px){
  h2{
    font-size: 35px;
  }
  h3{
    width: 85%;
    margin: 40px auto 25px;
  }
  p{
    width: 85%;
  }
  nav{
    right: 0;
    li.menu{
      display: none;
    }
    li.logo{
      position: relative;
      width: 70px;
      height: 70px;
      img{
        width: 35px;
      }
    }
  }
}
