@charset 'UTF-8';

$corprate-color: #2a95e4;
$corprate-font-color: #fff;
$even-color: #eee;
$shadow-color: rgba(0, 0, 0, .2);

// fonts setting
@font-face {
  font-family: 'mont_thin';
  src: url('../fonts/Montserrat-Thin.woff2') format('woff2'),
  url('../fonts/Montserrat-Thin.woff') format('woff'),
  url('../fonts/Montserrat-Thin.ttf') format('ttf');
}

@font-face {
  font-family: 'mont_light';
  src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
  url('../fonts/Montserrat-Light.woff') format('woff'),
  url('../fonts/Montserrat-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'mont_regular';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/Montserrat-Regular.woff') format('woff'),
  url('../fonts/Montserrat-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'mont_bold';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
  url('../fonts/Montserrat-Bold.woff') format('woff'),
  url('../fonts/Montserrat-Bold.ttf') format('ttf');
}

// Boxsizing
* {
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

// content setting
body {
  * {
    font-size: 13px;
    line-height: 150%;
  }
}

a {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: opacity ease .3s;
  vertical-align: baseline;

  :hover {
    text-decoration: none;
    transition: opacity ease .3s;
  }
}

ol,
ul {
  list-style: none;
}

nav {
  position: fixed;
  right: 0;
  text-align: right;
  top: 0;

  li {
    margin-bottom: 20px;
    margin-right: 5px;
    position: relative;
  }

  a {
    color: $corprate-color;
    font-family: 'mont_light';
    font-size: 20px;
    opacity: 1;

    &:hover {
      opacity: .5;
    }
  }

  .logo {
    background: $corprate-color;
    border-bottom-left-radius: 50%;
    box-shadow: 2px 5px 5px $shadow-color;
    display: block;
    height: 100px;
    margin: 0 -3px 30px 15px;
    width: 100px;
  }
}

.gohome {
  bottom: 0;
  height: auto;
  left: 0;
  margin: auto;
  position: absolute;
  right: -3px;
  top: 0;
  width: 40px;
}

.home {
  background-image: url('../images/main.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  width: 100vw;

  section {
    bottom: 0;
    height: 186px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 146px;
  }

  h1 {
    img {
      height: auto;
      width: 100px;
    }
  }

  a {
    border-bottom: 1px solid $corprate-font-color;
    color: $corprate-font-color;
    display: block;
    font-family: 'mont_regular';
    font-size: 1.2rem;
    height: 36px;
    margin-top: 55px;
    opacity: 1;

    &:hover {
      opacity: .5;
    }
  }
}

.even {
  background-color: $even-color;
}

h1 {
  font-family: 'mont_thin';
  font-size: 5rem;
  margin-bottom: 50px;
}

h2 {
  font-family: 'mont_thin';
  font-size: 5rem;
  margin-bottom: 100px;
}

h3 {
  font-size: 1.7rem;
  margin: 70px 0 50px;
}

p {
  font-size: 1.1rem;
  line-height: 2rem;
  margin: 0 auto;
  text-align: left;
  width: 500px;
}

section {
  font-size: 0;
  margin: 50px auto;
}

article {
  padding: 150px 0;
  text-align: center;
}

footer {
  bottom: 0;
  padding: 50px 0;
  position: absolute;
  text-align: center;
  width: 100%;

  strong {
    color: $corprate-font-color;
  }
}

@media screen and (max-width: 500px) {
  h2 {
    font-size: 35px;
  }

  h3 {
    margin: 40px auto 25px;
    width: 85%;
  }

  p {
    width: 85%;
  }

  nav {
    right: 0;

    .logo {
      height: 70px;
      position: relative;
      width: 70px;

      img {
        width: 35px;
      }
    }
  }
}
