// bower:scss
// endbower

@charset 'UTF-8';
$path-assets: '';
$path-fonts: '';
$path-images: '';

// reset
* {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
    line-height: 1;
}
html{
    overflow-y: scroll;
}
h1, h2, h3, h4, h5, h6{
    font-size: 100%;
    font-weight: normal;
}
ol, ul{
    list-style: none;
}
fieldset, button{
    border: 0;
}
a {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
img {
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-size: 0;
    line-height: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th {
    text-align: left;
}
input, select {
    vertical-align: middle;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

// fonts setting
@font-face {
  font-family: 'mont_regular';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.ttf') format('ttf');
}

// color setting
$main: #2A95E4;
$bggray: #eee;

// content
body, body * {
  font-family: "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 13px;
  line-height: 150%;
}
a{
  text-decoration: none;
  transition: all ease 0.3s;
  &:hover{
  transition: all ease 0.3s;
  }
}
article{
  padding: 100px 0 150px;
  text-align: center;
}
h2{
  font-family: 'mont_regular';
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  &:after{
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    margin: 20px auto 60px;
    background: #000;
  }
}
h3{
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}
p{
  width: 500px;
  margin: 0 auto;
  line-height: 1.5rem;
  text-align: left;
}

// navigation
nav{
  position: fixed;
  top: 0; right: 25px;
  ul{
    li.logo{
      margin-bottom: 20px;
      a{
        display: block;
        position: relative;
        width: 80px;
        height: 80px;
        margin: 0 0 0 auto;
        background: $main;
        border-bottom-left-radius: 50%;
        box-shadow: 2px 5px 5px rgba(0,0,0,.2);
      }
      img{
        width: 40px;
        height: auto;
        margin: auto;
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
      }
    }
    li.menu{
      margin-top: 8px;
      text-align: right;
      a{
        font-family: 'mont_regular';
        color: $main;
        font-size: 1.1rem;
        &:after{
          content: "";
          display: block;
          width: 0;
          height: 2px;
          margin: 0 auto;
          background: $main;
          transition: all ease 0.3s;
        }
        &:hover:after{
          width: 50px;
          transition: all ease 0.3s;
        }
      }
    }
  }
}

// home
#home{
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;
  background: {
    image: url('../images/main.jpg');
    size: cover;
    repeat: no-repeat;
    position: center;
  }
  section{
    width: 120px;
    height: 150px;
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    h1{
      width: 100px;
      height: auto;
      margin: 0 auto;
      img{
        width: 100%;
        height: auto;
      }
    }
    a{
      display: block;
      margin-top: 30px;
      color: #fff;
      font-size: 1.2rem;
      font-family: 'mont_regular';
      letter-spacing: 0.1em;
      &:after{
        display: block;
        content: "";
        background: #fff;
        width: 0px;
        height: 2px;
        margin: 0 auto;
        transition: all ease 0.3s;
      }
      &:hover:after{
        width: 50px;
        transition: all ease 0.3s;
      }
    }
  }
}

// business
#business{
  background-color: $bggray;
  p:first-of-type{
    margin-bottom: 50px;
  }
}

//// mobile styles
@media screen and (max-width:500px) {
  nav{
    right: 0;
    ul{
      li.logo{
        a{
          width: 70px;
          height: 70px;
        }
        img{
          width: 35px;
        }
      }
      li.menu{
        display: none;
      }
    }
  }
  p,h3{
    width: 85%;
    margin: 0 auto;
  }
}
