<h2>ABOUT US</h2>
<p>
  2016年8月26日設立。Web技術をエンタープライズ業界に導入及びコンサルティングしています
</p>
<p>
  コミュニティ活動またはメディアへの執筆活動や登壇を通じてWebへの貢献を行っています
</p>

<h3>インフォメーション</h3>

<p>2017 Microsoft Most Valuable Professional(MVP) 受賞</p>
<blockquote>「Microsoft MVPアワード」とは、米マイクロソフト本社が全世界の個人を対象に実施している1年毎の表彰制度です。 オンライン、オフラインを問わず、世界中のテクニカルコミュニティなどで活躍し、高度な専門的知識を有する個人に贈られ、受賞者は全世界でわずか4,000人ほどです。</blockquote>

<p>HTML5 Experts.jp エキスパート</p>
<blockquote>HTML5 Experts.jpは、2013年7月にNTTコミュニケーションズの支援を受けて立ち上げられた、Web技術者向けの情報メディアです。 「HTML5 Experts.jp」という名前、そして「日本に、もっとエキスパートを。」というミッションステートメントには、「エキスパートによる質の高い情報を発信する」「日本に、一人でも多くのエキスパートを輩出する」という２つの意味を込めています。</blockquote>

<p>Angular Japan User Group</p>
<blockquote>Angularは、モバイルおよびデスクトップWebアプリケーションを構築するための開発プラットフォームです。</blockquote>

<p>CHIRIMEN Community</p>
<blockquote>CHIRIMEN はセンサーやアクチュエーターなどの物理デバイスを Web 技術だけで制御することができる開発環境で、ボードコンピュータとその上で動作するソフトウェアを含めた総称です。 CHIRIMENは、Web開発者の為に設計され、Webブラウザを介して現実世界とWebの世界をつなげる事を目的としています。</blockquote>

<p>オープンソースカンファレンス</p>
<blockquote>オープンソースカンファレンスは、オープンソースの今を伝えるイベントです。東京だけでなく、北は北海道、南は沖縄まで全国各地で開催しています。オープンソース関連のコミュニティや協賛企業・後援団体による、セミナーやプロダクトの展示などを入場・参加料が無料でご覧いただけるイベントです。</blockquote>
