<nav>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <a md-menu-item routerLink=""><md-icon>dialpad</md-icon> Home</a>
    <a md-menu-item routerLink="about"><md-icon>dialpad</md-icon> About Us</a>
    <a md-menu-item routerLink="business"><md-icon>dialpad</md-icon> Business</a>
    <a md-menu-item routerLink="overview"><md-icon>dialpad</md-icon> Overview</a>
    <a md-menu-item routerLink="contact"><md-icon>dialpad</md-icon> Contact</a>
  </md-menu>
</nav>
<router-outlet></router-outlet>
<app-footer [color]="color"></app-footer>
